[Unit]
Description=Backup files to Azure Blob Storage

[Service]
Type=simple
ExecStart=<repo content directory>/az-file-backup/venv/bin/python3 <repo content directory>/az-file-backup/az-file-backup.py
EnvironmentFile=<repo content directory>/az-file-backup/settings/secrets.env
Restart=on-failure
