AZURE_CLIENT_ID='XXXXXXXXXXXXXXXXXXXXX'
AZURE_TENANT_ID='XXXXXXXXXXXXXXXXXXXXX'
AZURE_CLIENT_SECRET='XXXXXXXXXXXXXXXXXXXXX'
TWILIO_ACCOUNT_SID='XXXXXXXXXXXXXXXXXXXXX'
TWILIO_AUTH_TOKEN='XXXXXXXXXXXXXXXXXXXXX'
TWILIO_MSG_SERVICE_SID='XXXXXXXXXXXXXXXXXXXXX'
